<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>员工信息</title>
</head>
<body>
    <form action="/einfo" enctype='multipart/form-data' method='POST'>
        <input type="text" name="id">
        <input type="text" name="gender">
        <input type="text" name="phone">
        <input type="text" name="id_card">
        <input type="text" name="birthday">
        <input type="text" name="hire_date">
        <input type="text" name="resign_date">
        <input type="file" name="file">
        <input type="text" name="profile_photo">
        <input type="text" name="DESCRIPTION">
        <input type="text" name="ISACTIVE">
        <input type="submit" name="submit">
        <t>{{ content }}</t>
    </form>
</body>
</html>