<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户信息</title>
</head>
<body>
    <form action="/pinfo" method="post">
        <input type="text" name="id">
        <input type="text" name="REAL_NAME">
        <input type="text" name="SEX">
        <input type="text" name="EMAIL">
        <input type="text" name="PHONE">
        <input type="text" name="MOBILE">
        <input type="text" name="DESCRIPTION">
        <input type="text" name="ISACTIVE">
        <input type="submit" name="submit">
        <t>{{ content }}</t>
    </form>
</body>
</html>