<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>摄像头1</title>

    <!-- Plugin styles -->
    <link rel="stylesheet" href="../static/vendors/bundle.css" type="text/css">

    <!-- App styles -->
    <link rel="stylesheet" href="../static/assets/css/app.min.css" type="text/css">
</head>
<body>

<!-- begin::preloader-->
<div class="preloader">
    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="50px" height="50px" viewBox="0 0 128 128"
         xml:space="preserve">
        <rect x="0" y="0" width="100%" height="100%" fill="#FFFFFF"/>
        <g>
            <path d="M75.4 126.63a11.43 11.43 0 0 1-2.1-22.65 40.9 40.9 0 0 0 30.5-30.6 11.4 11.4 0 1 1 22.27 4.87h.02a63.77 63.77 0 0 1-47.8 48.05v-.02a11.38 11.38 0 0 1-2.93.37z"
                  fill="#000000" fill-opacity="1"/>
            <animateTransform attributeName="transform" type="rotate" from="0 64 64" to="360 64 64"
                              dur="500ms" repeatCount="indefinite">
            </animateTransform>
        </g>
    </svg>
</div>
<!-- end::preloader -->

<!-- begin::navigation -->
<div class="navigation">

    <!-- begin::logo -->
    <div id="logo">
        <a href="tomain">
            <img class="logo" src="../static/assets/media/image/logo.png" alt="logo">
            <img class="logo-sm" src="../static/assets/media/image/logo-sm.png" alt="small logo">
        </a>
    </div>
    <!-- end::logo -->

    <!-- begin::navigation header -->
    <header class="navigation-header">
        <figure class="avatar avatar-state-success">
            <img src="../static/assets/media/image/user/1.png" class="rounded-circle" alt="image">
        </figure>
        <div>
            <h5>杨烁平</h5>
            <p class="text-muted">管理员</p>
            <ul class="nav">
                <li class="nav-item">
                    <a href="toprofile" class="btn nav-link bg-info-bright" title="个人信息" data-toggle="tooltip">
                        <i data-feather="user"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="tologin1" class="btn nav-link bg-danger-bright" title="注销" data-toggle="tooltip">
                        <i data-feather="log-out"></i>
                    </a>
                </li>
            </ul>
        </div>
    </header>
    <!-- end::navigation header -->

    <!-- begin::navigation menu -->
    <div class="navigation-menu-body">
        <ul>
            <li class="navigation-divider">信息管理</li>
            <li>
                <a href="tomain">
                    <i class="nav-link-icon" data-feather="airplay"></i>
                    <span>首页</span>
                    <span class="badge badge-success">2</span>
                </a>
            </li>
            <li>
                <a href="retev">
                    <i class="nav-link-icon" data-feather="clipboard"></i>
                    <span>事件记录</span>
                    <span class="badge badge-success">2</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="nav-link-icon" data-feather="feather"></i>
                    <span>老年人信息管理</span>
                </a>
                <ul>
                    <li><a href="toaddold">信息录入</a></li>
                    <li><a href="reto">信息查询</a></li>
                    <li><a href="tomodifyold">信息删改</a></li>
                    <li><a href="toanalyzeold">统计分析</a></li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="nav-link-icon" data-feather="user"></i>
                    <span>工作人员信息管理</span>
                </a>
                <ul>
                    <li><a href="toaddworker">信息录入</a></li>
                    <li><a href="rete">信息查询</a></li>
                    <li><a href="tomodifyworker">信息删改</a></li>
                    <li><a href="toanalyzeworker">统计分析</a></li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="nav-link-icon" data-feather="users"></i>
                    <span>义工信息管理</span>
                </a>
                <ul>
                    <li><a href="toaddvolunteer">信息录入</a></li>
                    <li><a href="retv">信息查询</a></li>
                    <li><a href="tomodifyvolunteer">信息删改</a></li>
                    <li><a href="toanalyzevolunteer">统计分析</a></li>
                </ul>
            </li>
            <li class="navigation-divider">系统管理</li>

            <li>
                <a href="#">
                    <i class="nav-link-icon" data-feather="monitor"></i>
                    <span>摄像头管理</span>
                </a>
                <ul>
                    <li><a href="tomonitor1">摄像头1</a></li>
                    <li><a href="tomonitor2">摄像头2</a></li>
                    <li><a href="tomonitor3">摄像头3</a></li>
                    <li><a href="tomonitor4">摄像头4</a></li>
                    <li><a href="tomonitor5">摄像头5</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- end::navigation menu -->

</div>
<!-- end::navigation -->

<!-- begin::main -->
<div id="main">

    <!-- begin::header -->
    <div class="header">

        <!-- begin::header left -->
        <ul class="navbar-nav">

            <!-- begin::navigation-toggler -->
            <li class="nav-item navigation-toggler">
                <a href="#" class="nav-link">
                    <i data-feather="menu"></i>
                </a>
            </li>
            <!-- end::navigation-toggler -->

            <!-- begin::header-logo -->
            <li class="nav-item" id="header-logo">
                <a href="tomain">
                    <img class="logo" src="../static/assets/media/image/logo.png" alt="logo">
                    <img class="logo-sm" src="../static/assets/media/image/logo-sm.png" alt="small logo">
                </a>
            </li>
            <!-- end::header-logo -->
        </ul>
        <!-- end::header left -->

        <!-- begin::header-right -->
        <div class="header-right">
            <ul class="navbar-nav">

                <!-- begin::search-form -->
                <li class="nav-item search-form">
                    <div class="row">
                        <div class="col-md-6">
                                <h4>智慧养老系统后台</h4>
                        </div>
                    </div>
                </li>
                <!-- end::search-form -->

                <!-- begin::header minimize/maximize -->
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link" title="全屏" data-toggle="fullscreen">
                        <i class="maximize" data-feather="maximize"></i>
                        <i class="minimize" data-feather="minimize"></i>
                    </a>
                </li>
                <!-- end::header minimize/maximize -->

                <!-- begin::header notification dropdown -->
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link nav-link-notify" title="通知" data-toggle="dropdown">
                        <i data-feather="bell"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-big">
                        <div class="p-4 text-center" data-backround-image="assets/media/image/image1.png">
                            <h6 class="mb-1">通知</h6>
                        </div>
                        <div>
                            <ul class="list-group list-group-flush">
                                <li>
                                    <a class="list-group-item d-flex align-items-center hide-show-toggler">
                                        <div class="flex-grow-1">
                                            <p class="mb-0 line-height-20 d-flex justify-content-between">
                                                老年人信息录入成功
                                            </p>
                                            <span class="text-muted small">1分钟前</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a class="list-group-item d-flex align-items-center hide-show-toggler">
                                        <div class="flex-grow-1">
                                            <p class="mb-0 line-height-20 d-flex justify-content-between">
                                                工作人员信息录入成功
                                            </p>
                                            <span class="text-muted small">5分钟前</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a class="list-group-item d-flex align-items-center hide-show-toggler">
                                        <div class="flex-grow-1">
                                            <p class="mb-0 line-height-20 d-flex justify-content-between">
                                                老年人信息删除成功
                                            </p>
                                            <span class="text-muted small">1小时前</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a class="list-group-item d-flex align-items-center hide-show-toggler">
                                        <div class="flex-grow-1">
                                            <p class="mb-0 line-height-20 d-flex justify-content-between">
                                                义工信息删除成功
                                            </p>
                                            <span class="text-muted small">2小时前</span>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <!-- end::header notification dropdown -->
            </ul>

            <!-- begin::mobile header toggler -->
            <ul class="navbar-nav d-flex align-items-center">
                <li class="nav-item header-toggler">
                    <a href="#" class="nav-link">
                        <i data-feather="arrow-down"></i>
                    </a>
                </li>
            </ul>
            <!-- end::mobile header toggler -->
        </div>
        <!-- end::header-right -->
    </div>
    <!-- end::header -->

    <!-- begin::main-content -->
    <div class="main-content">

        <!-- begin::container -->
        <div class="container">

            <!-- begin::page-header -->
            <div class="page-header">
                <h4>摄像头1</h4>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="#">摄像头管理</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">摄像头1</li>
                    </ol>
                </nav>
            </div>
            <!-- end::page-header -->

            <div class="row">
                <div class="col-md-12">

                    <div class="card">
                        <div class="card-body">
                            <div class="col-lg-3 col-sm-6 m-t-b-20">
                                <button type="button" class="btn btn-instagram" id="take">
                                    <i class="fa fa-instagram mr-2"></i> 实时拍照
                                </button>
                            </div>
                            <br />
                            <video
                                    id="my-player"
                                    style="width: 640px;
                                    height: 480px;"
                                    class="video-js"
                                    controls {# 向用户展示控件 #}
                                    preload="auto"{# 如果出现该属性，则视频在页面加载时进行加载，并预备播放。如果使用 "autoplay"，则忽略该属性。 #}
                                    poster="//vjs.zencdn.net/v/oceans.png"
                                    data-setup='{}'   {# data-*实际上上就是data-前缀加上自定义的属性名，使用这样的结构可以进行数据存放 #}
                                    autoplay{# 就绪后自动播放 #}>
                                        s<ource
                                                src="src="http://10.255.78.136:8070/home.m3u8""
                                                type="application/x-mpegURL">
                                <p class="vjs-no-js">
                                    To view this video please enable JavaScript, and consider upgrading to a web browser that
                                    <a href="http://videojs.com/html5-video-support/" target="_blank">
                                        supports HTML5 video
                                    </a>
                                </p>
                            </video>


{#                           <video id="v" style="width: 640px;height: 480px;"></video>#}
{#如果是放视频，src里面放视频的地址<video src="images/xxx.mov" width="300px" heigth="300px" controls="controls" autoplay></video>#}
                            <canvas id="canvas" style="display:none;"></canvas>

                            <br />
                            <img src="http://placehold.it/640&text=Your%20image%20here%20..." id="photo" alt="photo">

<script>
    var player = videojs('my-player');
    var options = {};
    var player = videojs('my-player', options, function onPlayerReady() {
        videojs.log('Your player is ready!');
        // In this context, `this` is the player that was created by Video.js.
        this.play();
        // How about an event listener?
        this.on('ended', function() {
            videojs.log('Awww...over so soon?!');
        });
    });
</script>


<script>
    <!--js代码-->
    var video = document.getElementById('video');
    var canvas = document.getElementById('canvas');
    var context = canvas.getContext('2d');

//访问用户媒体设备的兼容方法
function getUserMedia(constraints, success, error) {
    if (navigator.mediaDevices.getUserMedia) {
        //最新的标准API
        navigator.mediaDevices.getUserMedia(constraints).then(success).catch(error);
    } else if (navigator.webkitGetUserMedia) {
        //webkit核心浏览器
        navigator.webkitGetUserMedia(constraints,success, error)
    } else if (navigator.mozGetUserMedia)                {
        //firfox浏览器
        navigator.mozGetUserMedia(constraints, success, error);
    } else if (navigator.getUserMedia) {
        //旧版API
        navigator.getUserMedia(constraints, success, error);
    }
}

function success(stream) {
    //兼容webkit核心浏览器
    // var CompatibleURL = window.URL || window.webkitURL;
    //video.src = CompatibleURL.createObjectURL(stream);
    //将视频流设置为video元素的源
    video.srcObject = stream;
    video.play();
}

function error(error) {
    console.log('访问用户媒体设备失败${error.name}, ${error.message}');
}

if (navigator.mediaDevices.getUserMedia || navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia) {
    getUserMedia({video : {width:200, height:200}}, success, error);
} else {
    alert('不支持访问用户媒体');
}
//图片上传到服务器
//获取Canvas的编码。
function uploadImage(){
    canvas.width = 300;
    canvas.height = 300;
    context.drawImage(video, 0, 0, 300, 300);
    var imgData = canvas.toDataURL();
    //上传到后台。
    var uploadAjax = $.ajax({
        type: "post",
        //后端需要调用的地址
        url:"test",
        data: JSON.stringify({"imgData": imgData}),
		contentType:"json/application",
		//设置超时
        timeout:10000,
        async: true,
        success: function (htmlVal) {
        	//成功后回调
		},
        error: function(data) {
        },
        //调用执行后调用的函数
        complete: function (XMLHttpRequest, textStatus) {
            if(textStatus == 'timeout'){
                uploadAjax.abort(); //取消请求
                //超时提示：请求超时，请重试
                alert("请求超时，请重试")
                //请求超时返回首页
                closeCard();
            }
        }
    });
}

</script>

    <script>
        !(function () {
            // 老的浏览器可能根本没有实现 mediaDevices，所以我们可以先设置一个空的对象
            if (navigator.mediaDevices === undefined) {
                navigator.mediaDevices = {};
            }
            if (navigator.mediaDevices.getUserMedia === undefined) {
                navigator.mediaDevices.getUserMedia = function (constraints) {
                    // 首先，如果有getUserMedia的话，就获得它
                    var getUserMedia = navigator.webkitGetUserMedia || navigator.mozGetUserMedia || navigator.msGetUserMedia;

                    // 一些浏览器根本没实现它 - 那么就返回一个error到promise的reject来保持一个统一的接口
                    if (!getUserMedia) {
                        return Promise.reject(new Error('getUserMedia is not implemented in this browser'));
                    }

                    // 否则，为老的navigator.getUserMedia方法包裹一个Promise
                    return new Promise(function (resolve, reject) {
                        getUserMedia.call(navigator, constraints, resolve, reject);
                    });
                }
            }
            const constraints = {
                video: true,
                audio: false
            };
            let videoPlaying = false;
            let v = document.getElementById('v');
            let promise = navigator.mediaDevices.getUserMedia(constraints);
            promise.then(stream => {
                // 旧的浏览器可能没有srcObject
                if ("srcObject" in v) {
                    v.srcObject = stream;
                } else {
                    // 防止再新的浏览器里使用它，应为它已经不再支持了
                    v.src = window.URL.createObjectURL(stream);
                }
                v.onloadedmetadata = function (e) {
                    v.play();
                    videoPlaying = true;
                };
            }).catch(err => {
                console.error(err.name + ": " + err.message);
            })
            {#照片的获取#}
            document.getElementById('take').addEventListener('click', function () {
                if (videoPlaying) {
                    let canvas = document.getElementById('canvas');
                    canvas.width = v.videoWidth;
                    canvas.height = v.videoHeight;
                    canvas.getContext('2d').drawImage(v, 0, 0);
                    let data = canvas.toDataURL('image/webp');
                    document.getElementById('photo').setAttribute('src', data);
                }
            }, false);
        })();
    </script>

                        </div>
                    </div>

                </div>
            </div>

        </div>
        <!-- end::container -->

    </div>
    <!-- end::main-content -->

    <!-- begin::footer -->
    <footer>
        <div class="container">
            <div>Copyright &copy; 2020.北京交通大学软件学院大三小学期实训.<a href="http://faculty.bjtu.edu.cn/rjxy/9438.html">指导教师-张健</a></div>
        </div>
    </footer>
    <!-- end::footer -->

</div>
<!-- end::main -->

<!-- Plugin scripts -->
<script src="../static/vendors/bundle.js"></script>

<!-- App scripts -->
<script src="../static/assets/js/app.min.js"></script>
</body>
</html>